.workWrapper {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 50px;
}

.workItem {
    max-width: 400px;
    width: 100%;
    height: auto;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    padding-bottom: 30px;
    border-radius: 20px;
    gap: 30px;
    position: relative;
    transition: 0.4s;
    overflow: hidden;
    animation: bottom 0.6s 0.4s forwards;
    transform: translateY(-20px);
    opacity: 0;
    cursor: pointer;
}

.workItem+.workItem {
    animation-delay: 0.5s;
}

@keyframes bottom {
    to {
        opacity: 1;
        transform: translateY(0);
    }

}

.workItem::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0), transparent);
    opacity: 0;
    transition: 0.4s;
}

.workItem h2 {
    color: #eee;
    text-align: center;
    position: relative;
    z-index: 1;
    transition: transform 0.45s;
}

.workItem img {
    width: 100%;
    object-fit: contain;
    transition: 0.5s;
    transform-origin: top;
}

.workDate {
    width: max-content;
    position: absolute;
    padding: 10px;
    background: rgb(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: rgb(0, 255, 255);
    font-size: 14px;
}

.des {
    width: 80%;
    position: absolute;
    bottom: -53%;
    transition: 0.5s;
    z-index: 1;
}

.des p {
    text-align: center;
    opacity: 0;
    color: #ddd;
    transition: 0.2s;
    transition-delay: 0.1s;
}

.workItem:hover .des {
    bottom: 5%;
}

.workItem:hover .des p {
    opacity: 1;

}

.workItem:hover h2 {
    transform: translateY(-80px);
}

.workItem:hover img {
    transform: scale(0.89);
}

.workItem:hover::after {
    opacity: 1;
}

.btnGroup {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.btnGroup a {
    width: 100px;
    height: 30px;
    border-radius: 20px;
    background: transparent;
    color: rgb(0, 255, 255);
    border: 1px solid rgba(0, 255, 255, 0.4);
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.25s;
    transform: translateY(10px);
    outline: none;
    text-decoration: none;
    display: grid;
    place-content: center;
}

.btnGroup a:hover {
    color: #333;
    background: rgb(0, 255, 255);
}

.workItem:hover a {
    transform: translateY(0);
    opacity: 1;
}

@media (max-width:456px) {
    .workItem:hover h2 {
        transform: translateY(-60px);
    }
}

@media (max-width:412px) {
    .workItem h2 {
        font-size: 24px;
    }

    .des p {
        font-size: 14px;
    }

    .btnGroup a {
        width: 90px;
        height: 25px;
        font-size: 12px;
    }

    .workItem:hover h2 {
        transform: translateY(-50px);
    }
}

@media (max-width:376px) {
    .workItem h2 {
        font-size: 18px;
    }

    .des p {
        font-size: 10px;
    }

    .btnGroup a {
        width: 70px;
        height: 20px;
        font-size: 12px;
    }

    .workItem:hover h2 {
        transform: translateY(-50px);
    }
}